<h1>Nueva Categoria</h1>

<%= form_for(@categorium) do |f| %>

  <% if @categorium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categorium.errors.count, "error") %> prohibited this categorium from being saved:</h2>

      <ul>
      <% @categorium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.rol == 1 %>
  
  <div class="field">
    <%= f.label :categoria %><br>
    <%= f.text_field :categoria, class: "form-control" %>
  </div>
  <div class="boton-New-ofert">
  <div class="actions">
    <%= f.submit "Listo!", class: "btn btn-success" %>
  </div>
  </div>

  <% else %>
        <p>Debes iniciar sesión <%=link_to 'Login', usuario_sessions_new_path %></p>
  <% end %> 


<% end %>
